!!! 5
%html

  %head
    %title
      - title = yield(:title)
      = title.present? ? title : "Untitled"
      |
      = t :application_name
    = favicon_link_tag @favicon || 'application.ico'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    /[if lt IE 9]
      %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{src: "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}
    = csrf_meta_tags
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

  %body{:class => [controller.controller_name, controller.action_name]}
    .container
      #content
        - flash.each do |name, msg|
          %dev{class: "alert alert-dismissible alert-#{name.to_s == 'notice' ? "success" : "danger"}"}
            -#= button_tag class: 'close', data: {dismiss: 'alert'}, 'aria-label' => 'Close' do
              %span{'aria-hidden' => true}!= '&times;'
            = msg

        - if respond_to?(:show_title?) and show_title?
          %h1
            = yield(:title)

        #view
          = yield
